<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    活动列表
    <div class="header-left">

    </div>
    <div class="header-right">
        <button ng-disabled="{{CreateButtonStatus==0}}" class="side-slide-trigger btn btn-primary"  ng-click="GotoCreateActivity()">
            创建活动
        </button>
        <!--创建按钮，跳转至创建活动页面-->
    </div>
</header>

<div id="wrapper" class="wrapper" >
    <ul class="list-style-2"   ng-repeat="name in activities">
        <button ng-click="GotoActivitySignUp(name.activity)"
                class="btn-style btn-3 {{BackGroundColor(name.activity)}}">
            {{name.activity}}
            <i> > </i>
        </button>
    </ul>
</div>
</body>
</html>