<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header><p>活动报名：{{now_show}}</p>
    <!--展示当前活动名称-->

    <div class="header-left">
        <button ng-click="BackList()" class="side-slide-trigger btn-style btn-4">返回</button>
        <!--返回至活动列表页面-->
    </div>
    <div class="header-right">
        <button  ng-click="StartActivity() " ng-disabled="start_show" class="btn btn-style btn-2" >开始</button>
    </div>
</header>


<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li ><a  ng-disabled="false"><br />报名</a></li>
        <li ><a  ng-disabled="false"><br />竞价</a></li>
    </ul>
</footer>

</body>
</html>