<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header><p>{{now_activity}}报名</p>

    <div class="header-left">
        <button ng-click="ActivityList()" class="side-slide-trigger btn-style btn-4">返回</button>
    </div>
    <div class="header-right">
        <button href="#" class="side-slide-trigger btn-style btn-4">开始</button>
    </div>
</header>


<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li ><a href="#"><br />报名</a></li>
        <li ><a href="#"><br />竞价</a></li>
    </ul>
</footer>

</body>
</html>