
<header>
    创建活动

    <div class="header-left">
       <button ng-click="ActivityList()" class="side-slide-trigger btn-style btn-4">返回</button>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <div class="wrapper-inner">
        <div class="form-wrapper">

        <!--<div>-->
            <!--<p><button class="btn-style btn-4">返回 </button>-->
                <!--创建活动</p>-->
        <!--</div>-->
            <h5>活动名称</h5>
            <input type="text" class="input-full" />
        </div>
    </div>
    <button ng-click="ActivitySignUp()" class="btn-style btn-2">创建</button>
</div>
    </div>