
<header>
    创建活动

    <div class="header-left">
       <button ng-show="activity_back" ng-click="GotoActivityList()" class="side-slide-trigger btn-style btn-4">
           返回
       </button>
        <!--左上角返回按钮的显示与隐藏，返回至活动列表页面-->
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <div class="wrapper-inner">
        <div class="form-wrapper">
            <h5>活动名称</h5>
            <input type="text" class="input-full" style="clear:center;height: 32px;" ng-model="new_activity"/>
            <!--ng-model把值绑定给activity_name中-->
            <p style="color: red">
                {{tips}}
            </p>
            <!--红色的名称重复提示-->
        </div>
    </div>
    <button ng-disabled="!new_activity" ng-click="CreateActivity(new_activity)" class="btn btn-style btn-2">
        创建
    </button>
    <!--创建按钮点击允许状态-->
</div>