<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    <p>
        {{current_price.activity}}：竞价{{current_price.count}}(竞价人数：{{price_number}})
    </p>

    <div class="header-left">
        <button ng-click="BackToPriceList()" class="side-slide-trigger btn-style btn-4">
            返回
        </button>
    </div>
    <div class="header-right">
        <button ng-disabled="{{EndButtonStatus==0}}" class="btn btn-style btn-2" ng-click="EndPrice()">
            结束
        </button>
    </div>
</header>

<div id="prices" class="wrapper scrollable">
    <div class="form-wrapper" ng-repeat="SMS in Messages">
        <li><h4>{{SMS.sequence}}.{{SMS.name}}</h4><p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{SMS.phone}}</p></li>
    </div>
</div>

</body>
</html>