<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    <p>
        {{current_activity.activity}}:竞价列表
    </p>

    <div class="header-left">
        <button ng-click="BackToList()" class="side-slide-trigger btn btn-primary">
            返回
        </button>
    </div>
    <div class="header-right">
        <button  ng-click="StartNewPrice()"  class="side-slide-trigger btn btn-primary" ng-disabled="{{StartButtonStatus==0}}">
            开始
        </button>
          </div>
</header>

<div id="wrapper" class="wrapper">
    <ul class="list-style-2"   ng-repeat="price in Prices">
        <button ng-click="GotoPriceActivity(price)"
                class="btn-style btn-3 {{PriceColor(price)}}">
            竞价{{price}}
            <i> > </i>
        </button>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li >
            <a  ng-click="GoToSignUp()" ng-disabled="true">
                <br/>
                报名
            </a>
        </li>
        <li >
            <a  ng-disabled="false">
                <br/>
                竞价
            </a>
        </li>
    </ul>
</footer>
</body>
</html>